* 
  margin: 0
  padding: 0

.app
  min-height: 100vh
  font-family: 'Inter', sans-serif
  display: grid 
  grid-template-columns: 1fr
  grid-template-rows: 200px 1fr 
  justify-content: center
  color: aliceblue
  position: relative

.start-dialog::backdrop
  background: black

.start-screen
  position: fixed
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  border: 2px solid aliceblue
  border-radius: 8px
  background: #121212
  top: 50%
  left: 50%
  height: 400px
  width: 600px
  transform: translate(-50%, -35%)
  padding: 40px

  button
    background: #121212
    color: aliceblue
    font-size: 3.5rem
    padding: 8px 32px
    border: 1px solid aliceblue
    border-radius: 8px
    align-self: center
  button:hover
    box-shadow: inset 0 0 15px 0 aliceblue

.main, header
  display: flex
  justify-content: center
  background-color: #121212

.main
  padding-top: 20px
  align-items: flex-start
  background: #282828

header
  flex-direction: column
  font-size: 3rem
  font-weight: 700
  align-items: center
  position: sticky
  top: 0
  background: #121212
  border-bottom: 2px solid aliceblue

  .title
    margin-top: -10px
    margin-bottom: 10px

  .score
    margin: 0 30px 0 30px
    font-size: 1.5rem
    border: 2px solid aliceblue
    border-radius: 8px
    padding: 15px 30px
    position: fixed

  .current-score
    top: 10%
    left: 0

  .highscore
    top: 10%
    right: 0

.cards 
  display: none
  min-width: 95%
  flex-wrap: wrap
  justify-content: center
  gap: 15px
  padding: 0 30px 0 30px

.card 
  width: 10%
  display: flex
  justify-content: center
  align-items: center
  border: 2px solid aliceblue
  border-radius: 8px
  padding: 15px
  background: #121212

  img
    width: 80%
    height: auto

.card:hover
  box-shadow: 0 0 15px 0 aliceblue

.display
  opacity: 0
